@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #0f1115;
}

::-webkit-scrollbar-thumb {
  background: #2a2f3a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3a4050;
}